@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #171717;
  --color-gray: #555555 ;
  --color-gray-badge: #96969652 ;
  --color-light-gray: #dbdbdb ;
  --color-green: #11d68b ;
  --font-green: #14af74;
  --color-light-green: #11d68a62 ;
  --color-red: #df0808;
  --font-red: #eb0707;
  --color-light-red: #df080836;
  --color-orange: rgb(255, 107, 21) ;
  --font-orange: rgb(255, 94, 0) ;
  --color-light-orange: rgba(255, 107, 21, 0.233) ;

  --spacing: 0.25rem;
  --border-rad: 1.25rem;
  --border-rad-full: 20rem;
}

@font-face {
  font-family: vazir;
  src: url(../public/fonts/Vazir/Vazir-Medium-FD.eot);
  src:
    url("../public/fonts/Vazir/Vazir-Medium-FD.woff") format("woff"),
    url("../public/fonts/Vazir/Vazir-Medium-FD.ttf") format("opentype");
}

*{
  transition: 0.25s all;
}

body {
  font-family: vazir;
}
