@import "tailwindcss";

:root {
  --color-white: #f5f5f5;
  --color-black: #171717;
  --color-gray: #555555 ;
  --color-light-gray: #cecece ;
  --color-green: rgb(0, 192, 112) ;
  --color-light-green: rgba(0, 192, 112, 0.63) ;
  --color-red: #df0808;
  --color-light-red: #df0808c9;
  --color-orange: rgb(255, 107, 21) ;
  --color-light-orange: rgba(255, 107, 21, 0.63) ;

  --spacing: 0.25rem;
  --border-rad: 1.25rem;
  --border-rad-full: 20rem;
}

@font-face {
  font-family: vazir;
  src: url(../public/fonts/Vazir/Vazir-Medium-FD.eot);
  src:
    url("../public/fonts/Vazir/Vazir-Medium-FD.woff") format("woff"),
    url("../public/fonts/Vazir/Vazir-Medium-FD.ttf") format("opentype");
}

*{
  transition: 0.25s all;
}

body {
  font-family: vazir;
}
